.option-card{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.5s;
    margin-top: 3rem;
}

.option-card:hover{
    transform: scale(1.05);
}

.option-text {
    color: black;
    font-size: 3rem;
    text-shadow: -1px -1px 0 white,  
    1px -1px 0 white,
   -1px  1px 0 white,
    1px  1px 0 white;
}

@media only screen and (max-width: 768px) {
    .option-card{
        margin-top: 1rem;
    }
}